# Archivos y directorios generados por Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos de configuración y temporales de Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Archivos de configuración y temporales de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Archivos de configuración y temporales de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos temporales y caché generados por el sistema y editores
*.log
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignorar archivos sensibles de configuración
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application.yaml

# Permitir archivos de ejemplo de configuración
!src/main/resources/application-test.properties


# Archivos de configuración de VS Code
.vscode/
